@font-face{
    font-family:"Helvetica LT W01 Narrow";
    src:url("/Fonts/1566264/03774a0a-100d-4424-922a-d2fabd124335.eot?#iefix");
    src:url("/Fonts/1566264/03774a0a-100d-4424-922a-d2fabd124335.eot?#iefix") format("eot"),url("/Fonts/1566264/d9174fff-293c-4d3c-9480-438cfec8ba57.woff2") format("woff2"),url("/Fonts/1566264/3c6ab608-39c8-4a90-849c-c2a32ea0a949.woff") format("woff"),url("/Fonts/1566264/aa9c4bc8-291a-42db-b84d-f84c23fa7c79.ttf") format("truetype");
}
@font-face{
    font-family:"Times NR MT W01 Condensed";
    src:url("/Fonts/5596187/ae684fd3-8f0f-466a-9812-92a1efa3d6e0.eot?#iefix");
    src:url("/Fonts/5596187/ae684fd3-8f0f-466a-9812-92a1efa3d6e0.eot?#iefix") format("eot"),url("/Fonts/5596187/38e77024-897d-4c97-84ec-dae066006216.woff2") format("woff2"),url("/Fonts/5596187/41d7b35a-15ba-4fb4-8a15-ca13718d6dfc.woff") format("woff"),url("/Fonts/5596187/a7b77449-3cf8-44fa-a250-103072df8efd.ttf") format("truetype");
}
@font-face{
    font-family:"Times NR MT W01 Condensed It";
    src:url("/Fonts/5596199/86e210fa-5fc3-4ac7-a1be-4851cc4b3a3c.eot?#iefix");
    src:url("/Fonts/5596199/86e210fa-5fc3-4ac7-a1be-4851cc4b3a3c.eot?#iefix") format("eot"),url("/LICENSE") format("woff2"),url("/Fonts/5596199/d650bce7-6443-4b20-b6bf-b67523baccb6.woff") format("woff"),url("/Fonts/5596199/b6c72bb5-adc4-41a6-b150-2af67fd9b4f2.ttf") format("truetype");
}

body {
  font-family: "Times NR MT W01 Condensed"
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica LT W01 Narrow"
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a.active {
  text-transform: uppercase;
}

li a {
  font-size: 18px;
  line-height: 22px;
}

a:hover {
  text-transform: uppercase;
}

.exhibition-image {
  display: block !important;
  margin: 0 auto;
  padding: 10px;
}

.exhibition-image-container {
  max-width: 600px;
}

nav {
  float: right;
}

.content {
  padding: 10px;
  margin-top: 20px;
}
